@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    @apply bg-white min-h-screen;
  }
  body, #__next {
    @apply min-h-screen h-screen flex flex-col;
  }
  header, footer {
    flex-grow: 0;
  }
  main {
    flex-grow: 1;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-2xl pt-5 pb-3;
  }
  h3 {
    @apply text-base pt-5 pb-3;
  }
  ul {
    @apply list-disc pl-8;
  }

  a {
    @apply no-underline relative;
  }
  a::after {
    @apply absolute left-0 -bottom-1 w-0 h-0.5 transition-all ease-in-out duration-100;
    content: '';
  }
  a:hover:after {
    @apply w-full;
  }

  input,
  textarea,
 {
    @apply border-2 p-4 border-gray-200 font-mono;

  }

  label {
    @apply block mb-3;
  }

  del {
    @apply bg-pink text-dark-red min-w-min w-2 min-h-full h-6 inline;
  }

  ins {
    @apply bg-palegreen text-dark-green min-w-min w-2 min-h-full h-6 inline;
  }
}

@layer components {
  .link--no-decoration:hover:after {
    display: none;
  }
  .bottom-decoration {
    @apply relative;
  }
  .bottom-decoration::after {
    @apply bg-yellow-400 absolute left-0 -bottom-1 w-full h-0.5 transition-all ease-in-out duration-100;
    content: '';
  }

  .min-h-360 {
    min-height: 30rem;
  }

  .min-h-720 {
    min-height: 60rem;
  }

  .max-h-360 {
    max-height: 30rem;
  }

  .max-h-720 {
    max-height: 60rem;
  }
}

.image-style-align-left {
  @apply xl:float-left xl:mr-8;
}

.image-style-align-right {
  @apply xl:float-right xl:ml-8;
}

// Rich Editor Overrides
@layer {
  @media screen and (max-width: 1024px) {
    .image {
      width: 100% !important;
      margin-bottom: 1rem;
    }
  }
}

html, body {
  height: 100%;
  margin: 0;
  counter-reset: counterLeft counterRight counterOriginal counterChanged;
}

.numberedOriginal {
  position: relative;
  display: block;
  text-align: left;
  padding-left: 30px;
  font-family: monospace;
  width: 100%;
  overflow: scroll;
  font-size: 16px;
  line-height: 24px;
  padding-right: 10px;
  min-height: 22px;
}

.numberedOriginal::before {
  counter-increment: counterOriginal;
  content: counter(counterOriginal) " ";
  color: rgb(196, 207, 212);
  position: absolute;
  left: 0;
  display: block;
  padding: 0 10px 10px 0;
  overflow: scroll;
  margin-left: 10px;
}

.numberedChanged {
  position: relative;
  display: block;
  text-align: left;
  padding-left: 30px;
  font-family: monospace;
  width: 100%;
  overflow: scroll;
  font-size: 16px;
  line-height: 24px;
  padding-right: 10px;
  min-height: 22px;
}

.numberedChanged::before {
  counter-increment: counterChanged;
  content: counter(counterChanged) " ";
  color: rgb(196, 207, 212);
  position: absolute;
  left: 0;
  display: block;
  padding: 0 10px 10px 0;
  overflow: scroll;
  margin-left: 10px;
}

.inputs {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  align-content: center;
  text-align: center;
  font-size: 16px;
}

.numberedInputs {
  margin-left: 5%;
  margin-right: 5%;
  align-content: center;
  text-align: center;
}

.scrollOriginalContainer {
  border-left: 1px solid rgb(196, 207, 212);
  border-right: 1px solid rgb(196, 207, 212);
  border-top: 1px solid rgb(196, 207, 212);
  border-bottom: 1px solid rgb(196, 207, 212);
  height: 200px;
  overflow-y: auto;
  position: relative;
}

.scrollChangedContainer {
  border-right: 1px solid rgb(196, 207, 212);
  border-top: 1px solid rgb(196, 207, 212);
  border-bottom: 1px solid rgb(196, 207, 212);
  height: 200px;
  overflow-y: auto;
  position: relative;
}

.linesContainer {
  pointer-events: none;
  user-select: none;
  padding-top: 5px;
  padding-right: 4px;
  opacity: 0.5;
}

.inputText {
  padding: 5px 10px;
  padding-left: 0px;
  font-size: 14px;
  resize: none;
  border: none;
  outline: none;
  font-family: monospace, 'Roboto Mono';
  position: absolute;
  left: 30px;
  width: calc(100% - 30px);
  overflow: hidden;
  right: 0;
  top: 0;
  bottom: 0;
}


.outputOriginal {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  min-height: 24px;
  font-family: monospace;

}

/* ::before pseudo-elements to insert content without it needing to be in the HTML */
.outputOriginal::before {
  position: absolute;
  left: 0;
  counter-increment: counterLeft;
  content: counter(counterLeft) " ";
  color: rgb(196, 207, 212);
  display: block;
  padding: 0 10px 10px 0;
  white-space: nowrap;
}

.outputChanged{
  padding-left: 20px;
  position: relative;
  font-size: 16px;
  min-height: 24px;
  font-family: monospace;
}

.outputChanged::before {
  counter-increment: counterRight;
  content: counter(counterRight) " ";
  display: block;
  color: rgb(196, 207, 212);
  position: absolute;
  left: 0;
}

.outputs {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  clear: both;
}

.output {
  font-size: 14px;
  margin-top: 20px;
  text-align: left;
  padding: 4px 10px;
  width: 100%;
  min-height: 70%;
  overflow: scroll;
  font-family: monospace, 'Roboto Mono';
  height: 200px;
  white-space: pre-wrap;
}
